import React from 'react';
import styles from './index.module.scss';

const <%= componentName %> = () => {
  return (
    <div className={styles.container}>
      {/* Component code here */}
    </div>
  );
};

export default <%= componentName %>;
